body{
    background-color: cadetblue;
}

table, th, tr,
td {
    border:solid black 2px;width: 30%; background-color: chocolate;
} 
p{
    color:black; 
 }
#contactColour{
    color: black;
}
#links{ 
    margin-right: 20px;
}
#left{
    text-align: center; margin-left: 20px;
}
#center{
    float:left; padding: 100px; font-size: large; font-family: 'Lucida Sans';
}
#firstBlock{ 
    border: 20px; padding: 50px;margin: 100px; width: 50%; float: right ;font-size: larger;font-family:  Arial;
     font-style: italic; color:black;background-color: lightgreen
    }
#lastParagrah {
        text-align: left;
        font-size: larger;
        font-family: 'Times New Roman';
        font-style:normal ;
        color: black;
    }
ul{border:  black 2px;
    width: 30%; border-radius: 5px;
}
#aboutUs{
    float: right; margin-top: 100px;  margin-right: 10px; margin-bottom: 300px;
}






/* For this  part I used some code from https: //www.w3schools.com/ website*/
form {
    border: 4px solid #f1f1f1;
}

.container1 {
    padding: 20px;}
/* Style the input elements and the submit button */
input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
    margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}



/* Style the container with a rounded border, grey background and some padding and margin */
.container {
  
    padding: 16px;
    margin: 16px;
    
}


/* Add a right margin, and style the image as a circle */
.container img {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}
/* for image to stay in the box*/
.container::after {
    content: "";
    clear: both;
    display: table;
}
